<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Animal Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/home0page.css"
    />
  </head>

  <body>
    <div class="page">
      <div class="title">WELCOME TO ANICHAT</div>
      <div class="option-frame">
        <div class="title">Choose your groupchat</div>
        <button id="worldwide">make new friends</button>
        <button id="friends">make your room</button>
      </div>
      <div class="duck">
        <span ><img id="quack" src="../public/diagrams/quack.png" style="display: block;" /></span>
        <img src="../public/diagrams/rata1.png" onclick="ShowQuack()"  />
        
        
      </div>
      </div>
    </div>

    <script src="../public/scripts/homePage.js"></script>
  </body>
</html>
